
<p>Table Star Wars!</p>
<div class="row">
  <div class="col-sm">
    <button
      type="button"
      (click)="showAllFilm()"
      class="btn btn-warning kz-btn">Films
    </button>
  </div>
</div>
<table mdbTable class="table table-bordered table-stripped">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let people of listOfpeople">
        <td>{{ people.name }}</td>
        <td>{{ people.height }}</td>
        <td>{{ people.mass }}</td>
        <td>{{ people.hair_color }}</td>
        <td>{{ people.skin_color }}</td>
        <td>{{ people.eye_color }}</td>
        <td>{{ people.birth_year }}</td>
        <td>{{ people.gender }}</td>
        <td>{{ people.homeworld }}</td>
        <td>
            <ul *ngFor="let film of people.films">
                <li>{{ film }}</li>
            </ul>
        </td>
        <td>
            <ul *ngFor="let species of people.species">
                <li>{{ species }}</li>
            </ul>
        </td>
        <td>
            <ul *ngFor="let vehicles of people.vehicles">
                <li>{{ vehicles }}</li>
            </ul>
        </td>
        <td>
            <ul *ngFor="let starships of people.starships">
                <li>{{ starships }}</li>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>
<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th *ngFor="let head of headElementsFilm" scope="col">{{ head }} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let films of listOffilms">
    <td class="bg-">{{ films.title }}</td>
    <td>{{ films.episode_id }}</td>
  </tbody>
</table>
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th *ngFor="let head of headElementsList" scope="col">{{ head }} </th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr mdbTableCol *ngFor="let personagens of listOfPeople">-->
<!--    <td>{{ people.name }}</td>-->
<!--  </tbody>-->
<!--</table>-->


